h1 {
    text-align: center;
    margin: 30px auto;
}

#box-container {
    width: 100%;
    max-width: 500px;
    border: 2px solid gray;
    padding: 5px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px auto;
    padding: 10px;
}

.choice {
    border: 2px solid gray;
    display: grid;
    grid-template-columns: 1fr;
}

.choice p {
    width: 100px;
    height: 100px;
    margin: 10px auto;
}